<?xml version="1.0"?>

<launch>
    <!-- Please select algorithms here, while value could be set as "MonoDepth", "MiDaS", or "SC-Depth" -->
    <arg name="algorithm_name" value="SC-Depth"/>
    
    <node pkg="scale_recovery" name="info_pub" type="info_pub_planner.py" output="screen">
        <param name="camera_info_path" value="$(find scale_recovery)/config/camera_info.yaml"/>
        <param name="algorithm_name" value="$(arg algorithm_name)"/>
    </node> 

    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />
    <node pkg="nodelet" type="nodelet" name="depth2pcl"
          args="load depth_image_proc/point_cloud_xyz nodelet_manager">
      <remap from="camera_info" to="/sync/camera_info"/>
      <remap from="image_rect" to="/sync/depth"/>
      <remap from="points" to="/sync/pcl_cam"/>
    </node>

    <node pkg="scale_recovery" name="ground_seg_planner" type="ground_seg_planner" output="screen">
        <param name="algorithm_name" value="$(arg algorithm_name)"/>
    </node>    

    <node pkg="scale_recovery" name="scale_recovery" type="scale_recovery_planner.py" output="screen"/>

    <!-- <node pkg="nodelet" type="nodelet" name="nodelet_manager_metric" args="manager" />
    <node pkg="nodelet" type="nodelet" name="depth2pcl_metric"
          args="load depth_image_proc/point_cloud_xyz nodelet_manager">
      <remap from="camera_info" to="/sync/camera_info"/>
      <remap from="image_rect" to="/sync/depth_metric"/>
      <remap from="points" to="/sync/pcl_metric"/>
    </node> -->
    

</launch>
